<% include partials/head %>
<% include partials/nav %>

<section id="dashboard">
  <div class="container">
    <div class="row user-profile">
      <img src="<%= user.photoURL %>" alt="your photo" class="user-avatar pull-left">
      <div>
        <p class="user-name"><%= user.displayName %></p>
        <p class="user-team"><%= user.team || "No team yet. Please join a team." %></p>
      </div>
    </div>

    <h2>Devices</h2>

    <ul class="list-group">
      <% devices.map((device) => { %>
        <li class="list-group-item device-item">
          <strong><%= device.type %></strong>:&nbsp;
          <%= device.description %>

          <!-- Do not allow edit when user is registered -->
          <% if (!user.firebase.nfc_tag) { %>
            <button class="btn btn-danger btn-sm pull-right" onClick="deleteDevice('<%= device.uid %>')" data-device-id="<%= device.uid %>">
               Delete
            </button>
          <% } %>
        </li>
      <% }) %>
    </ul>

    <!-- Do not allow edit when user is registered -->
    <% if (!user.firebase.nfc_tag) { %>
      <form id="addDevice" class="form hidden" action="/devices", method="POST">
        <%- include('partials/device-form', { device: {} } ) %>
      </form>
      <button id="registerDeviceButton" class="btn btn-default" onClick="showAddDeviceForm()">
        Register a device
      </button>
    <% } %>
  </div>
<section>

<% include partials/footer %>
<% include partials/scripts %>
