<% include partials/head %>
<% include partials/nav %>

<div class="supporters" id="supporters">
	<div class="supporters_header container">
		<h1>Supporters</h1>
		<p>We are very thankful for all the people and companies who have supported our goal in inspiring more women to excel in their tech careers. In our community, we want to always recognize these people who are making a change and difference in the community. Hope this can encourage more people or companies to uphold and ensure that our community and our workplace will be inclusive and diverse.</p>

		<h2>Do you want to support this event?</h2> 
		<h4 id="support-email">Send us an email at manila@womenwhocode.com.</h4>
	</div>

	<div class="supporters_body container">
		<h3>Platinum Advocate</h3>
		<% platinum_advocate.forEach((platinum_advocate) => { %>
			<a href="<%= platinum_advocate.url %>" target="_blank" rel="noopener noreferrer"><img src="<%=  platinum_advocate.imageURL %>" height="200px"></a>
		<% }) %>

		<hr>

		<h3>Inspire</h3>
		<% inspire.forEach((inspire) => { %>
			<a href="<%= inspire.url %>" target="_blank" rel="noopener noreferrer"><img src="<%=  inspire.imageURL %>" height="100px"></a>
		<% }) %>

		<hr>

		<h3>Nourish</h3>
		<div id="nourish_image">
			<% nourish.forEach((nourish) => { %>
				<a href="<%= nourish.url %>" target="_blank" rel="noopener noreferrer"><img src="<%=  nourish.imageURL %>" height="115px"></a>
			<% }) %>
		</div>
		
		<hr>

		<h3 id="kiddie">Kiddie Hackathon</h3>
		<p>in partnership with PowerMac Center</p>
		<% kiddie_hackathon.forEach((kiddie_hackathon) => { %>
			<a href="<%= kiddie_hackathon.url %>" target="_blank" rel="noopener noreferrer"><img src="<%=  kiddie_hackathon.imageURL %>" height="120px"></a>
		<% }) %>

		<hr>
	</div>

	<div class="media_partners container">
	    <h3>Media Partners</h3>
		<% media_partners.forEach((media_partner) => { %>
			<a href="<%= media_partner.url %>" target="_blank" rel="noopener noreferrer"><img src="<%=  media_partner.imageURL %>" height="120px"></a>
		<% }) %>

		<hr>
	</div>

	<div class="community_partners container">
		<h3>Community Partners</h3>
		<% community_partners.forEach((community_partner) => { %>
			<a href="<%= community_partner.url %>" target="_blank" rel="noopener noreferrer"><img src="<%=  community_partner.imageURL %>" height="120px"></a>
		<% }) %>
		<hr>
	</div>

	<div class="special_thanks container">
		<h3>Special thanks to the following for supporting tickets for our attendees:</h3>
		<% special_thanks.forEach((special_thanks) => { %>
			<a href="<%= special_thanks.url %>" target="_blank" rel="noopener noreferrer"><img src="<%=  special_thanks.imageURL %>" height="80px"></a>
		<% }) %>
		<hr>
	</div>

	<div class="thank_you container">
		<h1>Thank you so much for the support!</h1>
	</div>

</div>

<% include partials/bottom %>
